<p>It is currently <%= @temperature%> degrees in <%= @city%>.</p>

<p>
  Weather From: <a href="<%= @url%>"><%= @url%></a>
</p>
<p>
  Wind Direction: <%= @wind_direction%> degrees
</p>
<p>
  Wind Speed: <%= @wind_speed%> mph
</p>
